<section>
  <h2 class='author-name'>Books by <%= @author.name_switch %></h2>

  <% if current_user && current_admin? %>
    <p><%= link_to "Create a New Book by #{@author.name_switch}", new_author_book_path(@author) %></p>
    <p><%= link_to 'Edit Author', edit_author_path(@author) %>
    <p><%= link_to "Delete Author", author_path(@author), method: 'delete' %>
  <% end %> <br><br>

  <div class='grid'>
    <% @books.each do |book| %>
      <div class='grid-items'>
        <%= link_to (image_tag(book.image, size: '100x150', alt: 'not_available.png')), author_book_path(@author, book) %>
        <h3><%= link_to book.title, author_book_path(@author, book) %></h3><br>
      </div>
    <% end %>
  </div>
</section>
