<% if current_user %>
  <h1>Welcome, <%= current_user.username %>!</h1>

  <h3>Your reviews:</h3>

  <% @reviews.each do |review| %>
    <p><%= "Your review of #{review.book.title}:" %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Comment: <%= review.comment %></p>
    <p>Created_at: <%= review.created_at %></p>
    <p><%= link_to 'Edit Review', edit_book_review_path(review.book, review) %></p><br>
  <% end %>

<% else %>
  <%= render file:'/public/404' %>
<% end %>
