<section>
  <div class='book'>
    <%= image_tag(@book.image, size: '125x175', alt: 'not_available.png') %>
    <h2><%= @book.title %> - <%= @book.year %></h2>
    <% if @book.avg_rating != nil %>
      <h3>Average Rating: <%= @book.avg_rating %></h3>
    <% end %>
    <h3><%= link_to "See all books by #{@book.author.name}", author_path(@book.author) %></h3>
  </div>

  <% if current_user && current_admin? %>
    <p><%= link_to 'Edit Book', edit_author_book_path(@book.author, @book) %></p>
    <p><%= link_to "Delete Book", author_book_path(@book.author, @book), method: 'delete' %></p><br>
  <% elsif current_user %>
    <p><%= link_to 'Write a Review', new_book_review_path(@book) %></p><br>
  <% end %>

  <div class='reviews'>
    <h3>Reviews (Sign in to leave a review!)</h3>
    <% @reviews.each do |review| %>
      <p>Rating: <%= review.rating %></p>
      <p>Comment: <%= review.comment %></p>
      <p>By: <%= review.user.username %></p>
      <p><%= review.time %></p>
      <% if current_user && current_admin? %>
        <p><%= link_to 'Edit Review', edit_book_review_path(@book, review) %></p>
        <p><%= link_to 'Delete Review', book_review_path(@book, review), method: 'delete' %></p>
      <% end %><br>
    <% end %>
  </div>
</section>
