<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h3><%= link_to 'See All Authors', authors_path %></h3>
      <h3><%= link_to 'See All Books', books_path %></h3>
      <% if current_user %>
        <h3>Signed in as <%= current_user.username %></h3>
        <h3><%= link_to 'See your reviews', user_path(current_user) %></h3>
        <h3><%= link_to 'Log Out', logout_path %></h3>
      <% else %>
        <h3><%= link_to 'Sign up to be a Member', new_user_path %></h3>
        <h3><%= link_to 'Member Log In', login_path %></h3>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
